<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test">
    <parameter name="browser" value="chrome"></parameter>
    <parameter name="url" value="https://www.google.com/"></parameter>
    <test name="All test">
        <classes>
            <class name="DemoExamples.testng_param_others.ParamWithTestNG"></class>
        </classes>
    </test>
</suite>